.navbar {
	margin:0;
	border-radius: 0;
	background-color: rgba(44, 35, 40, .5);
	border: none;
	
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: black;
	background: url('https://images.unsplash.com/photo-1445445290350-18a3b86e0b5a?q=80&fm=jpg&s=4ca5b01c43928584a67189ea20c0375f') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	

}

img {
	margin: auto;
	width: 100%;
	height: 100%;
}
.thumbnail {
	margin: 150px 40px 0px 40px;
	background: white;
	border-radius: 0px;
	border: 1px solid rgba(202, 163, 94, .5);
	box-shadow: 10px 5px 15px black;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
 h3 {
 	text-align: center;
 }

.navbar-header .navbar-brand {
	color: white;
}

.navbar-header .navbar-brand:hover {
	color: white;
}
.completed .well {
	opacity: .8;
}
.page-header h3, h1 {
	color: white;
	text-shadow: 1px 1px 2px black;
	margin-top: 60px;
	font-size: 100px;
}
.page-header p {
	color: white;
	font-size: 40px;
	margin-bottom: -5px;
}
.page-header a {
	font-size: 20px;
	color: white;
}

.btn-xl {
	padding: 30px 40px;
	font-size: 20px;
	margin-bottom: 50px;
	display: inline-block;

}
#sign-button {
	float: center;

}


.welcome-info p {
	font-size: 40px;
	color: white;
	
		
}
.welcome-info h1 {
	font-size: 100px;
	color: white;

}
.welcome-info li {
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

input {
	background: #fff;
}
#new-request-input {
	color: black;
}

.alert {
	display: none;
}
.well {
	background: white;
	border-radius: 0px;
	border: 1px solid rgba(202, 163, 94, .5);
	box-shadow: 10px 5px 15px black;
	margin-top: 30px;
	padding-bottom: 30px;
	word-wrap: break-word;
}

/*.done {
	background-image: url('https://c1.staticflickr.com/9/8122/8700920478_ce32e1b02d_b.jpg');
	background-size: 30%;
	background-repeat: no-repeat;

}*/
.input {
	background: white;
	border-radius: 0px;
	border: 1px solid rgba(202, 163, 94, .5);
	box-shadow: 10px 5px 15px black;
	margin-top: 30px;
	padding: 40px;
	word-wrap: break-word;
}

li {
	text-shadow: none;
	color: rgba(44, 35, 40, 1);
}

#email, #password {
	background-color: white;
}

@media (max-width: 600px) {
  .welcome-info p {
  	font-size: 20px;
  	color: white;
  	
  		
  }
  .welcome-info h1 {
  	font-size: 50px;
  	color: white;

  }
  .page-header h3, h1 {
  	color: white;
  	text-shadow: 1px 1px 2px black;
  	margin-top: 60px;
  	font-size: 50px;
  }
  .page-header p {
  	color: white;
  	font-size: 20px;
  	margin-bottom: -5px;
  }
  .page-header a {
  	font-size: 15px;
  	color: white;
  }
}
