.navbar {
	margin:0;
	border-radius: 0;
	background-color: rgba(202, 163, 94, .5);
	border: none;
	
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #443616;
	background: url('http://i.imgur.com/oNLNwBm.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

}

.welcome-info {
	font-size: 20px;
	margin-top: 200px;
	
		
}
.welcome-info h1 {
	font-size: 80px;
}

