.navbar {
	margin:0;
	border-radius: 0;
	background-color: rgba(44, 35, 40, .5);
	border: none;
	
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: black;
	background: url('https://images.unsplash.com/photo-1445445290350-18a3b86e0b5a?q=80&fm=jpg&s=4ca5b01c43928584a67189ea20c0375f') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	

}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-header .navbar-brand:hover {
	color: white;
}
.completed .well {
	opacity: .6;
}
.page-header h3, h1 {
	color: white;
	text-shadow: 1px 1px 2px black;
}



.welcome-info p {
	font-size: 40px;
	color: white;
	
		
}
.welcome-info h1 {
	font-size: 100px;
	color: white;

}
.welcome-info li {
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

input {
	background: #fff;
}

.well {
	background: white;
	border-radius: 0px;
	border: 1px solid rgba(202, 163, 94, .5);
	box-shadow: 10px 5px 15px black;
	margin-top: 30px;
}

li {
	text-shadow: none;
	color: rgba(44, 35, 40, 1);
}

#email, #password {
	background-color: white;
}
