body {
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background-color: white;
}

h1 {
	text-align: center;
}

#bio {
	min-width: 480px;
}

#new-request-input {
	min-width: 480px;
}

li {
	background-color: white;
	margin: 20px 0px 40px 0px;
}

.navbar {
	background-color: black;
}

input[type="button"] {
	border: none;
	background-color: #D4CDDC;
	font-weight: bolder;

}

.active li, .completed li {
	padding: 30px;
	border-radius: 30px;
	font-size: 16px;
}

